# Environment variables
.env

# Large data files
CRISPRGeneEffect.csv
*.csv

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Log and temporary files
*.log
*.tmp
*.bak

# Python cache
__pycache__/
*.pyc

# OS-specific files
.DS_Store

# PDF files
*.pdf